body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #eff3f6;
}

.input {
  border: none;
  border-radius: 10px;
  height: 30px;
}

.icon {
  width: 20px;
  height: 17px;
}
